#connect-about, #about-intro {
    background: @stone;
}

#about-intro {
    position: relative;
    .thumb-image.loaded {
        position: absolute !important;
    }
}

#about-platforms {
    background-color: @clay;
    * { color: @stone; }
}
