#home-intro {
    background-color: @stone;

    #block-yui_3_17_2_1_1607120532444_4367 p {
        text-transform: uppercase;
        letter-spacing: .15em;
    }
  }

#home-detail {
    background-color: @clay;
    height: 100%;
    background: linear-gradient(to left, @clay 60%, fade(@clay, 85%) 50%);

    @media screen and (max-width: 767px) {
        background-color: @clay;
    }

    * {
        color: @stone;
    }
}