
/*//-------------- Landing --------------//*/
#collection-56df1cd01d07c087e663dc8c{
    #journal-section {
        background: @beige;
    }

    #newsletter {
        background: @beigefaded;
        .newsletter-block .newsletter-form-field-element {
            border: none;
            border-bottom: 2px solid @blue;
            background: transparent;
            border-radius: 0px;

        }
        .newsletter-form-button-label {
            letter-spacing: .07em;
        }
    }
}