/*//-------------- Journal --------------//*/

#collection-56c60cf08a65e29feeafa08f {

    .sqs-search-ui-button-wrapper.color-dark .search-input {
        border: none;
        border-bottom: 1px solid;
        font-size: 11px;
        text-transform: lowercase;
        letter-spacing: 1px;
    }

    .sqs-block-summary-v2 .summary-item.positioned {
        visibility: visible;
        border: 5px solid @lightgrey;
    }

    .summary-content.sqs-gallery-meta-container {
        padding: 15px;
        min-height: 80px;
    }
    .summary-thumbnail.img-wrapper {
        transition: .3s ease;
        &:hover {
            opacity: .7;
        }
    }

    #block-yui_3_17_2_5_1455821776624_8002.twitter-block {
        .tweet-list {
            background: #f7f7f7;
            padding: 15px;
        }

        .tweet .tweet-from {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .tweet-text {
            font-size: 12px;
        }

        .tweet-text-wrapper {
            border-bottom: 1px solid #ccc;
            padding-bottom: 15px;
        }
    }
}