/*//-------------- Journal --------------//*/

#journal-list {
    .summary-item {
        visibility: visible;
        border: 5px solid @sand;
        background: white;
    }

    .summary-title {
        font-weight: 400;
    }

    .summary-content.sqs-gallery-meta-container {
        padding: 15px;
        min-height: 80px;
    }
    .summary-thumbnail.img-wrapper {
        transition: .3s ease;
        &:hover {
            opacity: .7;
        }
    }
}