
/*//-------------- Portfolio --------------//*/
.col {
    padding: @base-unit * 3;
}

.item {
    height: 100%;
    width: 100%;
    padding: @base-unit * 8 @base-unit * 13 ;
}

.line {
    border-left: 1px solid currentColor;
    height: @base-unit * 25;
    left: 50%;
    position: relative;
    margin: @base-unit * 6 0;
}

.mailchimp {
    background-color: @sand;
}

.agency {
    background-color: @stone;
}

.custom {
    background-color: @clay;
    * { color: @stone; }
    img { 
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.Intro {
    background-color: @sand;
}
.portfolio-page {
    padding-top: 52px;
}
