/*// Custom Code by Aylin Marie*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/*//-------------- Variables --------------//*/
@clay: #995F49;
@stone: #F5EFED;
@sand: #CCAFA4;
@graphite: #242723;

/*//-------------- Utility Class --------------//*/
.visually-hidden {
    visibility: hidden;
    height: 1px;
}

/*//-------------- General --------------//*/
.field-error {
    background: @sand url(//static.squarespace.com/universal/images-v6/standard/icon_close_7_light.png) no-repeat 9px 50% !important;
}

// Form Fields
.sqs-search-ui-button-wrapper.color-dark .search-input {
    border-color: @graphite;
}

// Title Cards
.summary-title {
    font-size: 12px;
}

//  Code Block
.amd-code {
    background: #f9f9f9;
    padding: 20px;
    border-left: 5px solid rgba(246, 218, 198, .7);
    font-family: 'Cutive Mono', monospace;
}

// Cooking Banner
.sqs-cookie-banner-v2.LIGHT {
    background: @stone;
    border: 1px solid @clay;

    .sqs-cookie-banner-v2-accept {
        background: @clay;
        border: none !important;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        transition: .4s ease;

        &:hover {
            opacity: .7;
        }
    }
}

// Images
.sqs-gallery-block-slideshow .meta-inside {
    padding: 10px;

    p, p > a {
        font-size: 11px !important;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}


/*//-------------- Footer --------------//*/

.Footer-middle {
    display: none !important;
  }
  
  #footerBlocksTop {
    padding: 0;
  }

