/*// Custom Code by Aylin Marie*/

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

/*//-------------- Variables --------------//*/
@pink: #fcdfce;
@beige: #e0d7d3;
@blue: #626670;
@beigefaded: #f5f3f2;
@black: #3d3d3d;
@lightgrey: #f2f2f2;
@maroon: #8a7d80;

/*//-------------- General --------------//*/
.field-error {
    background: @maroon url(//static.squarespace.com/universal/images-v6/standard/icon_close_7_light.png) no-repeat 9px 50% !important;
}

.summary-title {
    font-size: 12px;
}

#folderNav {

    a {
        text-align: center;
        background-color: @beige;
        padding: 15px;
        width: 100%;
        margin-bottom: 20px;
        transition: .4s ease;
        -webkit-transition: .4s ease;
        -o-transition: .4s ease;
        -moz-transition: .4s ease;
        -ms-transition: .4s ease;
    }

    a:hover,
    a:active,
    a:focus,
    li.active-link a {
        background-color: #f9f9f9;
    }
}

#page {
    max-width: 1300px;
    padding: 5%;
}

.amd-code {
    background: #f9f9f9;
    padding: 20px;
    border-left: 5px solid rgba(246, 218, 198, .7);
    font-family: 'Cutive Mono', monospace;
}

.sqs-cookie-banner-v2.LIGHT {
    background: @beige;
    border: 1px solid white;

    .sqs-cookie-banner-v2-accept {
        background: @maroon;
        border: none !important;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        transition: .4s ease;

        &:hover {
            opacity: .7;
        }
    }
}

// Images
.sqs-gallery-block-slideshow .meta-inside {
    padding: 10px;

    p, p a {
        font-size: 10px !important;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

/*//-------------- About --------------//*/
#collection-5a93662a652dea92f9f39791 {
    #connect-about {
        background: @beige;
    }

    #block-yui_3_17_2_1_1542061754113_5090 {
        padding: 0;
    }

    .about-list li {
        list-style-type: none;
        text-align: center;
        color: white;
        background-color: @blue;
        margin: 0 15px 15px 0;
        margin-right: 15px;
        display: inline-flex;
        padding: 8px 30px;
    }

    .about-list ul {
        padding: 0px;
        text-align: center;
    }
}


/*//-------------- Services --------------//*/
// Services Summary 

#block-yui_3_17_2_1_1541515527007_23125,
#block-yui_3_17_2_5_1505930666982_21310 {
    padding: 25px;
    background: #f9f9f9;
}

#block-yui_3_17_2_5_1512863241256_71558,
#block-yui_3_17_2_7_1512862044162_20272 {
    padding: 7px !important;
}

.amd-services {

    ul {
        padding: 0;

        li {
            list-style-type: none;
            background-color: @lightgrey;
            margin: 15px 0 !important;
            padding: 15px 0;
            font-family: 'effra', 'san-serif';
            text-transform: uppercase;
            letter-spacing: 1.5px;
            font-size: 12px;
            display: block;
            width: 100%;
            text-align: center;
            transition: .4s ease;

            &:hover {
                background-color: #f9f9f9;
                font-weight: bold;
            }
        }
    }

}

.amd-investment {
    border: 7px solid @lightgrey;
    text-align: center;
    padding: 25px;
}

// Services Detail 
#collection-56e8b1e1cf80a1d454859aa4,
#collection-5a1cb92fe4966b13424b5d0c,
#collection-5a1cbd40c83025aa86b39651,
#collection-5a1cbad053450a9c549db0ec {
    li {
        p::before {
            content: "\f304";
            font-family: 'Font Awesome 5 Pro';
            color: #f6dac6;
        }
    }
}

/*//-------------- Footer --------------//*/

footer p {
    text-transform: lowercase;
    letter-spacing: .2em;
    font-size: 11px;
    font-weight: 400;
}

#footer .html-block a {
    text-transform: uppercase;
    color: #555555 !important;
    border: none !important;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
}

#footer .html-block a:hover {
    color: #f5ba91 !important;
}

#footer {
    .tweet-text {
        margin-left: 5px;
        display: inline;

        a {
            color: #414343 !important;
            text-decoration: underline !important;
        }

        i {
            margin-left: -30px;
            padding-right: 5px;
        }
    }
}

#footer .timesince {
    color: #414343 !important;
    font-style: italic;
    display: block;
}



/*//-------------- Sumo Me --------------//*/
.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-left-page .sumome-share-client-animated {
    background: @black  !important;
    margin: 1px 0 !important;
    transition: .6s ease;

    &:last-child {
        display: none;
    }

    &:hover {
        opacity: .8;
    }
}

.sumome-share-client-wrapper div.sumome-share-client.sumome-share-client-counts .sumome-share-client-count.sumome-share-client-share-share span {
    color: white;
}